@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
span{
    font-size: large;
    font-weight: 400;
    max-width: 500px;
    max-height: 500px;
    font-family: 'Poppins';
    
}
.family{
    font-size: 300px;
    font-family: 'Tilt Prism', cursive;
}
.notfound{
    width: 200px;
}