@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.wish-container{
    width: 400px;
    margin-left: 500px;
    padding: 10px;
    font-family: "Montserrat",sans-serif;

}
.wish-button ,.wish-content,.wishimg,.wish-suncontent{
    text-align: center;

} 
button{
    width: 50%;
    background-color: rgb(255, 210, 50);
    height: 40px;
    font-weight: 600;
    font-family: "Montserrat",sans-serif!important;
    font-size: 14px!important;
    line-height: 16px!important;
    text-transform: uppercase;
}
button:hover{
    background-color: rgb(235, 206, 104);
}